<div class="header">
  <div class="row mb-2" style="width: 100%;">
    <div class="col-xl-3 logo centralizar">
      <h1 style="font-family: Vecna; font-size: 55px;">Logo</h1>
    </div>
    <div class="col-xl-6 centralizar-e">
      <h1 style="font-family: Vecna; font-size: 60px;">Nome do site</h1>
    </div>
    <div class="col-xl-3 botao centralizar">
      <h1 style="font-family: Vecna; font-size: 55px;">Botão Login</h1>
    </div>
  </div>

  <div class="row" style="width: 100%;">
    <mat-divider class="mb-1" style="border-top-width: 3px;"></mat-divider>
    <div>
      <mat-divider></mat-divider>
    </div>
    <div class="row navbar centralizar">
      <div class="col-xl-2">
        <button mat-flat-button class="btn-menu">Play Now</button>
      </div>
      <div class="col-xl-2">
        <button mat-flat-button class="btn-menu">Join a Game</button>
      </div>
      <div class="col-xl-2">
        <button mat-flat-button class="btn-menu">Marketplace</button>
      </div>
      <div class="col-xl-2">
        <button mat-flat-button class="btn-menu">Tools</button>
      </div>
      <div class="col-xl-2">
        <button mat-flat-button class="btn-menu">Community</button>
      </div>
    </div>
  </div>
</div>
