<div class="header">
  <div class="row" style="width: 100%;">
    <div class="col-xl-3 logo centralizar">
      <h1 style="font-family: Vecna; font-size: 64px;">Logo</h1>
    </div>
    <div class="col-xl-6 centralizar-e">
      <h1 style="font-family: Vecna; font-size: 60px;">Nome do site</h1>
    </div>
    <div class="col-xl-3 botao centralizar">
      <h1 style="font-family: Vecna; font-size: 60px;">Botão Login</h1>
    </div>
  </div>
  <div class="row" style="width: 100%;">
    <div>
      <mat-divider></mat-divider>
    </div>
    <div class="navbar">

    </div>
  </div>
</div>
